@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	background-color: rgb(234, 234, 234);
}

.m-2,
.p-2 {
	margin: 2rem;
	padding: 3rem 0;
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30vh;
}

.card {
	width: 300px;
	height: 440px;
	border-radius: 5px;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
	background-color: #fff;
}
.card > *:not(img) {
	padding: 5px 10px;
}

.card img {
	width: 100%;
	height: 180px;
}

.card-body {
	padding: 5px;
}
.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}

.card-body p {
	color: #3d3d3d;
	margin-bottom: 20px;
	font-size: 14px;
}

.view-btn a {
	padding: 5px 15px;
	border: 1.5px solid #007bff;
	border-radius: 3px;
	text-decoration: none;
	color: #007bff;
}

.btn-group {
	display: flex;
}

.btn-group .btn a {
	padding: 5px 15px;
	background-color: #28a745;
	color: #fff;
	border-radius: 3px;
	margin-left: -2px;
}
.btn-group a {
	margin: 0 10px;
	text-decoration: none;
	color: #000;
}

.btn-primary {
	display: inline-block;
	padding: 5px 10px;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	color: #000;
	background-color: orange;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.btn-primary:hover {
	background-color: rgba(252, 140, 3, 0.8);
	color: #fff;
}

.btn-primary:focus {
	outline: none;
	box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}
